body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2 {
    color: #444;
    text-align: center;
    margin-top: 20px;
}

p, a {
    font-size: 16px;
    text-align: justify;
    margin: 10px auto;
    display: block;
    max-width: 800px;
}


img, video {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}


.repository-link a {
    color: #0066cc;
    text-decoration: none;
}

.repository-link a:hover {
    text-decoration: underline;
}